<li id="comment-<%=comment.id%>">
    <%=comment.content %>
        <%=comment.user.name%>
            <% if(comment.user.id==locals.user.id ){ %>
                <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">Delete</a>
                <% } %>
                    <br>
</li>