<li>
    <%=comment.content %>
        <%=comment.user.name%>
            <% if(comment.user.id==locals.user.id ){ %>
                <a href="/comment/destroy/<%=comment.id%>">Delete</a>
                <% } %>
                    <br>
</li>