<nav class="navbar  navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Socialise</a>
        <a href="/sign-out"><button type="button" class="btn btn-light">Sign Out</button></a>

    </div>

</nav>