<nav class="navbar  navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Socialise</a>
        <a href="/user-profile" class="ms-auto me-1"><button type="button" class="btn btn-light">Settings</button></a>
        <a href="/access/destroy-session"><button type="button" class="btn btn-light">Sign Out</button></a>
    </div>

</nav>