<form action="/user/create" method="POST" id="sign-up-form"></form>
<div class="row d-lg-flex flex-lg-column  align-items-lg-center">
    <div id="sign-up-form-container" class="test container col-6">
        <div class="row border-bottom border-dark mb-1">
            <h2 class="text-start">Sign Up</h2>
            <h6 class="text-start">Its quick and easy</h6>
        </div>
        <div class="row ">
            <div class="col-6 ">
                <div class="test d-flex  flex-column align-items-start m-1 ">
                    <div class="col-12"><input type="text" class="form-control " id="fName" name="fName"
                            form="sign-up-form" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="test d-flex  flex-column align-items-start m-1 ">
                    <div class="col-12"><input type="text" class="form-control " id="lName" name="lName"
                            form="sign-up-form" placeholder="Last Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="test d-flex  flex-column align-items-start m-1 ">
                    <div class="col-12"><input type="email" class="form-control " id="email" name="email"
                            form="sign-up-form" placeholder="Email Address">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="test d-flex  flex-column align-items-start m-1 ">
                    <div class="col-12"><input type="password" class="form-control " id="new-password" name="password"
                            form="sign-up-form" placeholder="New Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="test d-flex  flex-column align-items-start m-1 ">
                    <div class="col-12"><input type="password" class="form-control " id="confirm-password"
                            form="sign-up-form" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
        </div>
        <button id="signUp-button" type="submit" class="col-4 btn btn-success mb-3" form="sign-up-form">Sign
            up</button>
        <div class="conatiner">
            Already Have an Account?
            <a href="/"><button id="open-login" class="btn btn-primary">Login </button></a>

        </div>


    </div>
</div>